.my_card {
    width: calc(100% - 2vw);
    height: 20vh;
    border-radius: 10px;
    position: relative;
    transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #6790d3;
    -webkit-transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -moz-transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -ms-transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.my_shadow {
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
        0 0 0 2px rgb(190, 190, 190),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.my_shadow1 {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.student_card {
    width: 94%;
    height: 80%;
    display: flex;
    flex-direction: row;
    gap: 3.5vw;
    align-items: center;
    padding: 0 1vw;
    border-radius: 110px 20px 20px 110px;
    background: #fff;
    z-index: 8;
    -webkit-border-radius: 110px 20px 20px 110px;
    -moz-border-radius: 110px 20px 20px 110px;
    -ms-border-radius: 110px 20px 20px 110px;
    -o-border-radius: 110px 20px 20px 110px;
}

.my_card .student_card .card_image {
    width: 25vw;
    height: 90%;
}

.my_card .student_card .card_image img {
    width: 25vw;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.my_card .student_card .card_content {
    width: 60vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2vh 0;
    overflow: hidden;
    gap: 1vh;
}

.my_card .student_card .card_content .card_name {
    display: flex;
}

.my_card .student_card .card_content .card_name h3 {
    font-size: 1.2em;
    color: #444;
    font-weight: 500;
    font-family: 'poppins';
}

.my_card .student_card .card_content .card_email {
    display: flex;
}

.my_card .student_card .card_content .card_email h4 {
    font-size: 0.8em;
    color: #444;
    font-weight: 400;
    font-family: 'poppins';
}

.my_card .student_card .card_content .card_phone {
    display: flex;
}

.my_card .student_card .card_content .card_phone h4 {
    font-size: 0.85em;
    color: #444;
    font-weight: 400;
    font-family: 'poppins';
}

.my_card .student_card .card_content .card_view {
    width: fit-content;
    height: fit-content;
    position: absolute;
    right: 1.2em;
    bottom: 0.8rem;
}

.my_card .student_card .card_content .card_view .view_btn {
    padding: 6px 8px;
    border: 0;
    border-radius: 10px 10px 0px 0px;
    background-color: #2ba8fb;
    color: #ffffff;
    font-size: 0.9em;
    font-weight: 400;
    font-family: 'poppins';
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -webkit-border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    -ms-border-radius: 10px 10px 0px 0px;
    -o-border-radius: 10px 10px 0px 0px;
}

.my_card .student_card .card_content .card_view .view_btn:hover {
    background-color: #6fc5ff;
    box-shadow: 0 0 20px #6fc5ff50;
    transform: scaleY(1.1);
    transform-origin: bottom;
    -webkit-transform: scaleY(1.1);
    -moz-transform: scaleY(1.1);
    -ms-transform: scaleY(1.1);
    -o-transform: scaleY(1.1);
}

.my_card .student_card .card_content .card_view .view_btn:active {
    background-color: #3d94cf;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
}