.ribbon {
    width: 101%;
    position: absolute;
    text-align: center;
    font-size: 20px !important;
    background: #abc3e8;
    background: -webkit-gradient(linear, left top, left bottom, from(#0a1b36), to(#0a1b36));
    background: -webkit-linear-gradient(top, #0a1b36, #0a1b36);
    background: -moz-linear-gradient(top, #0a1b36, #0a1b36);
    background: -ms-linear-gradient(top, #0a1b36, #0a1b36);
    background: -o-linear-gradient(top, #0a1b36, #0a1b36);
    background-image: -ms-linear-gradient(top, #0a1b36 0%, #0a1b36 100%);
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 1px;
    -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 1px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 1px 1px;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

.ribbon span {
    font-size: 35px !important;
    color: #0a1b36;
    text-shadow: #D65C5C 0 1px 0;
    margin: 0px;
    padding: 19px 100px;
}



.ribbon .ribbon-content:before {
    left: 0;
    border-width: 1em 0 0 1em;
}

.ribbon .ribbon-content:after {
    right: 0;
    border-width: 1em 1em 0 0;
}

.ribbon-stitches-top {
    margin-top: 2px;
    border-top: 1px dashed rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5);
}

.ribbon-stitches-bottom {
    margin-bottom: 2px;
    border-top: 1px dashed rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.3);
}