@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
$bluenew: #07051a;
$maroonNew: #a31834;
$whte: #fff;

.search_container2 {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .6s;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    border-radius: 25px;
    border: none !important;
    background-color: $whte;
    overflow: hidden;

    input {
        position: relative;
        width: calc(100% - 70px);
        height: 100%;
        line-height: 30px;
        outline: 0;
        border: 0;
        display: block;
        padding: 0 50px 0 20px;
        opacity: 1;
        display: block;
        background-color: transparent;
        font-family: "Roboto", sans-serif;
        font-size: 15px;
        font-weight: 500;
    }

    &.active {
        width: 400px;
        border: 1.5px solid #1f4379 !important;
    }

    .searchBtn {
        position: absolute;
        right: -2px;
        z-index: 99;
        top: 50%;
        transform: translate(0%, -50%);
        cursor: pointer;
        width: 50px;
        height: 50px;

        .icon-search {
            width: 22px;
            height: 22px;
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            .searchhandl {
                fill-opacity: 0;
                stroke: $bluenew;
                stroke-width: 3;
                stroke-miterlimit: 10;
            }

            .search1 {
                fill-opacity: 0;
                stroke: $bluenew;
                stroke-width: 3;
                stroke-miterlimit: 10;
                stroke-dasharray: 135px;
                stroke-dashoffset: 270;
                -webkit-transition: all 0.5s ease-out 0s;
                -o-transition: all 0.5s ease-out 0s;
                transition: all 0.5s ease-out 0s;
                -webkit-transition-delay: 0.2s;
                -o-transition-delay: 0.2s;
                transition-delay: 0.2s;
            }

            .searchline1 {
                fill-opacity: 0;
                stroke: $bluenew;
                stroke-width: 3;
                stroke-miterlimit: 10;
                stroke-dasharray: 135px;
                stroke-dashoffset: 140;
                -webkit-transition: all 0.5s ease-out 0s;
                -o-transition: all 0.5s ease-out 0s;
                transition: all 0.5s ease-out 0s;
                -webkit-transition-delay: 0s;
                -o-transition-delay: 0s;
                transition-delay: 0s;
            }

            .searchline2 {
                fill-opacity: 0;
                stroke: $bluenew;
                stroke-width: 3;
                stroke-miterlimit: 10;
                stroke-dasharray: 135px;
                stroke-dashoffset: 200;
                -webkit-transition: all 0.5s ease-out 0s;
                -o-transition: all 0.5s ease-out 0s;
                transition: all 0.5s ease-out 0s;
                -webkit-transition-delay: 0s;
                -o-transition-delay: 0s;
                transition-delay: 0s;
            }

            .searchhandl {
                fill-opacity: 0;
                stroke: $bluenew;
                stroke-width: 3;
                stroke-miterlimit: 10;
            }

            &.searchbtnActive {
                .search1 {
                    stroke: $maroonNew;
                    stroke-dashoffset: 180;
                    -webkit-transition-delay: 0s;
                    -o-transition-delay: 0s;
                    transition-delay: 0s;
                }

                .searchline1 {
                    stroke: $maroonNew;
                    stroke-dashoffset: 70;
                    -webkit-transition-delay: 0.2s;
                    -o-transition-delay: 0.2s;
                    transition-delay: 0.2s;
                }

                .searchline2 {
                    stroke: $maroonNew;
                    stroke-dashoffset: 280;
                    -webkit-transition-delay: 0.2s;
                    -o-transition-delay: 0.2s;
                    transition-delay: 0.2s;
                }

                .searchhandl {
                    stroke: $maroonNew;
                }
            }
        }
    }
}