.profile_container1{
    width: 100%;
    display: flex;
    justify-content: center;
}
/* .secondary_container{
    margin-top: 15px;
} */

.profile_edit_containers{
    position: absolute;
    top: 11vh;
    height: 81vh;
    width: 100%;
    /*border: 2px solid black;
    */border-top: 1px solid black;
    box-shadow: 0px -6px 24px 0px rgba(242, 237, 237, 0.4);
    border-radius: 50px 50px 0 0 ;
    z-index: 4;
    background-color:rgb(249 250 251);
    -webkit-border-radius: 50px 50px 0 0 ;
    -moz-border-radius: 50px 50px 0 0 ;
    -ms-border-radius: 50px 50px 0 0 ;
    -o-border-radius: 50px 50px 0 0 ;
}
.profile_navigation_container{
    margin-top: 48px;
    display: flex;
    justify-content: center;
}
.profile_name{
    display: flex;
    justify-content: center;
    margin-top: 78px;
    font-family: 'poppins';
}
.profile_navigation_container .act_profile_nav{
    padding: 13px 8px;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    /* margin-bottom: 10px; */
}
.profile_navigation_container .act_profile_nav:hover{
    background-color: rgb(236, 236, 236);
    cursor: pointer;
}
.profile_navigation_container .act_profile_nav:active{
    background-color: rgb(236, 236, 236);
}
.act_profile_nav_container{
    width: 94%;
}
.act_profile_nav_container .act_profile_nav{
    font-family: 'poppins';
}
.act_profile_nav_container .horizontal_line{
    margin: 0 !important;
    border-bottom: 1px solid rgb(207, 207, 207)
}
.background_color_setter{
    position: absolute;
    top: 7vh;
    width: 50vw;
    height: 92vh;
    background-color: var(--primary-color);
}

@media (max-width: 900px) {
    .background_color_setter{
        width: 100vw;
    }
}