.alert_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.6rem;
    padding: 0 0.6rem 0.8rem 0.6rem;
    z-index: 1;
}

.alert_container .alert_top {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.2rem 0.1rem;
    justify-content: space-between;
}

.alert_container .alert_top .alert_heading {
    font-size: 18px;
    font-weight: 400;
    font-family: 'poppins';
}

.alert_container .alert_cards {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.6rem;
    z-index: 1;
}