
/* .navigation_container{
    height: 10vh;
    width: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
} */
.profile_container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.profile_edit_form{
    position: absolute;
    top: 11vh;
    /* height: 81vh; */
    width: 100%;
    /* border: 2px solid black; */
    border-top: 1px solid black;
    box-shadow: 0px -6px 24px 0px rgba(242, 237, 237, 0.4);
    border-radius: 50px 50px 0 0 ;
    z-index: 4;
    background-color:rgb(249 250 251);
    /* overflow: auto; */
}
/* .secondary_container{
    margin-top: 15px;
} */
.file_upload{
    /* width: 0;
    height: 0; */
    display: none;
}
.edit_button{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 5px;
    right: 10px;
}
.details_container{
    margin-top: 85px;
    display: flex;
    justify-content: center;
}
.profile_form_container{
    width: 300px;
}
.profile_form_container form input{
    padding: 5px 7px;
}
.profile_form_container .form_lines label{
    margin-bottom: 0;
}
.profile_form_container textarea {
    resize: none !important;
    font-size: 15px !important;
    color: rgb(100, 100, 100) !important;
    padding:3px !important;
    border:1px solid #dee2e6;
    border-radius: 5px;
    outline: none;
}
.profile_form_container .submit_btn{
    margin-top: 10px;
}
.profile_form_container label{
    display: flex;
    align-items: center;
}
.profile_form_container .submit_container{
    margin-bottom: 20px
}
.profile_form_container label svg{
    margin-left: 6px;
    color: rgb(100, 100, 100);
}
.act_details{
    margin-bottom: 10px;
}
.act_details .detail_line{
    display: flex;
    font: 'poppins';
}
.details_heading{
    font-weight: bold;
    color: rgb(40, 40, 40)
}
.detail_line{
    color: rgb(40, 40, 40);
    display: flex;
    /* justify-content: space-between; */
}
.details_value{
    word-wrap: break-word;
}
.colon{
    font-weight: bold;
}

@media (max-width:350px) {
    .profile_form_container {
        width: 100vw;
    }
}
