/* .navigation_container{
    height: 10vh;
    width: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
} */
.profile_container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.profile_login_form {
    position: absolute;
    top: 11vh;
    /* height: 81vh; */
    width: 100%;
    height: -webkit-fill-available;
    /* border: 2px solid black; */
    border-top: 1px solid black;
    box-shadow: 0px -6px 24px 0px rgba(242, 237, 237, 0.4);
    border-radius: 50px 50px 0 0;
    z-index: 4;
    background-color: rgb(249 250 251);
    /* overflow: auto; */
}

/* .secondary_container{
    margin-top: 15px;
} */
.file_upload {
    /* width: 0;
    height: 0; */
    display: none;
}

.edit_button {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 5px;
    right: 10px;
}

.details_container {
    margin-top: 85px;
    display: flex;
    height: -webkit-fill-available;
    justify-content: center;
}

.login_form_container {
    width: fit-content;
    height: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 4vw;
}

.login_form_container form input {
    padding: 5px 7px;
}

.login_form_container .form_lines label {
    font-size: 15px;
    color: #5e5e5e;
    font-weight: 500;
    margin-bottom: 1vh;
}

.login_form_container textarea {
    resize: none !important;
    font-size: 15px !important;
    color: rgb(100, 100, 100) !important;
    padding: 3px !important;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    outline: none;
}

.login_form_container .submit_btn {
    margin-top: 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.login_form_container label {
    display: flex;
    align-items: center;
}

.login_form_container .submit_container {
    margin-bottom: 20px
}

.login_form_container label svg {
    margin-left: 6px;
    color: rgb(100, 100, 100);
}

.act_details {
    margin-bottom: 10px;
}

.act_details .detail_line {
    display: flex;
    font: 'poppins';
}

.details_heading {
    font-weight: bold;
    color: rgb(40, 40, 40)
}

.detail_line {
    color: rgb(40, 40, 40);
    display: flex;
    /* justify-content: space-between; */
}

.details_value {
    word-wrap: break-word;
}

.colon {
    font-weight: bold;
}

.login_title {
    margin-top: 3vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login_title h3 {
    width: fit-content;
    text-align: left;
    font-family: 'poppins';
    font-size: 22px;
    font-weight: 700;
    color: #5d5d5d;
    margin-bottom: 1vh;
}


.login_message {
    margin-top: 1vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login_message h4 {
    width: fit-content;
    text-align: left;
    font-family: 'poppins';
    font-size: 15px;
    font-weight: 400;
    font-weight: bolder;
    color: #7e7e7e;
    margin-bottom: 1vh;
}

.login_message h3 {
    width: fit-content;
    text-align: left;
    font-family: 'poppins';
    font-size: 14.5px;
    font-weight: bolder;
    color: #646464;
    margin-bottom: 3vh;
}




.otp_form {
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    background: transparent;
    width: 100%;
    height: fit-content;
}

.otp_form .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: auto;
    margin-bottom: auto;
}

.otp_form p {
    width: fit-content;
    text-align: left;
    font-family: 'poppins';
    font-size: 19px;
    font-weight: 500;
    color: #5d5d5d;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
}

.otp_form .inp {
    margin-left: auto;
    margin-right: auto;
    white-space: 4px;
}

.otp_form .input+.input {
    margin-left: 0.5em
}

.otp_form .input {
    width: 5vw;
    height: 5vw;
    max-width: 2rem;
    max-height: 2rem;
    min-width: 1.8rem;
    min-height: 1.8rem;
    color: #7e7e7e;
    float: left;
    text-align: center;
    background: transparent;
    outline: none;
    border: 1px solid #646464;
    border-radius: 5px;
    transition: all 0.6s ease;
    font-size: small;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
}

.otp_form .input:focus {
    transform: scale(1.1);
    border: 1px #646464 solid;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.otp_form .input:not(:placeholder-shown) {
    background: transparent;
    width: 5vw;
    height: 5vw;
    max-width: 2rem;
    max-height: 2rem;
    min-width: 1.8rem;
    min-height: 1.8rem;
}

.otp_form button {
    margin-left: auto;
    margin-right: auto;
    background-color: var(--primary-color);
    color: #fff;
    width: 8.5em;
    height: 2.3em;
    border: var(--primary-color) 0.1em solid;
    border-radius: 5px;
    transition: all 0.5s ease;
    transition: all 1s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.otp_form button:hover {
    transform: scale(1.05) translateY(-3px);
    background-color: #fff;
    color: var(--primary-color);
    -webkit-transform: scale(1.05) translateY(-3px);
    -moz-transform: scale(1.05) translateY(-3px);
    -ms-transform: scale(1.05) translateY(-3px);
    -o-transform: scale(1.05) translateY(-3px);
}

.login_right {
    width: 50vw;
    height: -webkit-fill-available;
    display: none;
}

.login_right .login_model {
    width: 50vw;
    height: -webkit-fill-available;
}

.login_right .login_model img {
    width: 100%;
    height: 50vh;
}

@media (max-width: 670px) {
    .login_form_container {
        width: fit-content !important;
    }

    .login_right {
        display: none !important;
    }
}

@media (max-width: 900px) {
    .login_form_container {
        width: 50vw;
        margin-top: 3vh;
    }

    .login_right {
        display: flex;
    }
}


@media (max-width:350px) {
    .login_form_container {
        width: 50vw;
    }

    .login_right {
        width: 50vw;
        display: flex;
    }
}