.requests_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    padding: 0 0.8rem 0.8rem 0.8rem;
    z-index: 1;
}

.requests_container .requests_top {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.2rem 0.1rem;
    justify-content: space-between;
}

.requests_container .requests_top .requests_heading {
    font-size: 18px;
    font-weight: 400;
    font-family: 'poppins';
}

.requests_container .requests_cards {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    z-index: 1;
}