.students_container {
    width: inherit;
    height: inherit;
}

.students_container .student_top {
    width: inherit;
    height: 7.5vh;
}

.students_container .students_content {
    margin-top: 2vh;
    width: inherit;
    height: 84vh;
}

.students_container .students_content .student_cards {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1vh 1vw 1vh 0.5vh;
    gap: 1em;
    margin-top: 2vh;
    z-index: -1;
}