.alert_card {
    width: 100%;
    height: 80px;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 10px 10px 10px 3px;
    background-color: #ffffff;
    /* box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px; */
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
}

.alert_wave {
    position: absolute;
    transform: rotate(90deg);
    left: -31px;
    top: 32px;
    width: 80px;
    fill: #04e4003a;
}

.alert_icon-container2 {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #04e40048;
    border-radius: 50%;
    margin-left: 8px;
}

.alert_icon-container1 {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0a77e348;
    /* Light blue with 28% opacity */
    border-radius: 50%;
    margin-left: 8px;
}

.alert_icon-container0 {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fc0c0c48;
    border-radius: 50%;
    margin-left: 8px;
}

.alert_icon2 {
    width: 17px;
    height: 17px;
    color: #269b24;
}

.alert_icon1 {
    width: 19px;
    height: 19px;
    color: #0a77e3;
    /* Solid blue color */
}

.alert_icon0 {
    width: 17px;
    height: 17px;
    color: #d10d0d;
}

.alert_message-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-grow: 1;
}

.alert_message-text,
.alert_sub-text {
    margin: 0;
    cursor: default;
}

.alert_message-text2 {
    color: #3b9d39;
    font-size: 13px;
    font-weight: 700;
}

.alert_message-text1 {
    color: #2f6fae;
    /* Matching blue color for text */
    font-size: 13px;
    font-weight: 700;
}

.alert_message-text0 {
    color: #ca3636;
    font-size: 13px;
    font-weight: 700;
}

.alert_sub-text {
    font-size: 13px;
    color: #555;
}

.alert_time {
    position: absolute;
    top: 0.3rem;
    right: 0.5rem;
    font-size: 9.5px;
    color: #999;
}