.form_container {
    position: fixed;
    top: 8vh;
    width: 50vw;
    height: 92vh;
    background-color: rgba(24, 24, 24, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 6;
}

.act_form {
    position: relative;
    width: 350px;
    height: 450px;
    /* border: 1px solid black; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    background-color: rgb(249 250 251);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.heading_container {
    height: 20px;
}

.heading_container h1 {
    font-size: 20px;
    font-weight: bold;
    color: rgb(40, 40, 40);
    font-family: 'poppins';
}

.close_btn {
    position: absolute;
    top: 5px;
    right: 5px;
}

.act_form form {
    margin-top: 20px;
}

.form_lines {
    display: flex;
    flex-direction: column;
    margin-bottom: 7px
}

.less_focus {
    color: #7e7e7e;
}

.form_lines label {
    font-family: 'poppins';
    font-size: 15px;
    margin-bottom: 2px
}

textarea {
    resize: none !important;
    font-size: 15px !important;
    color: rgb(100, 100, 100) !important;
    padding: 3px !important;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    outline: none;
}

.form_lines input {
    font-size: 15px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    outline: none;
}

#title {
    padding: 5px 7px;
}

.submit_container {
    width: 100%;
    display: flex;
    justify-content: center;

}

.submit_btn {
    margin-top: 15px;
    padding: 7px;
    width: 100px;
    border: none !important;
    background-color: var(--primary-color);
    color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-family: 'poppins';
    font-size: 15px;
}

.submit_btn:hover {
    cursor: pointer;
}

@media (max-width:350px) {
    .act_form {
        width: 100vw;
        height: 450px;
    }
}

@media (max-width: 900px) {
    .form_container {
        width: 100vw;
    }
}