.spaceOutUp {
    -webkit-animation-name: spaceOutUp;
    animation-name: spaceOutUp;
}

@keyframes spaceOutUp {
    0% {
        opacity: 1;
        transform-origin: 50% 0%;
        transform: scale(1) translate(0%, 0%);
    }

    100% {
        opacity: 0;
        transform-origin: 50% 0%;
        transform: scale(0.2) translate(0%, -200%);
    }
}

.spaceInUp {
    -webkit-animation-name: spaceInUp;
    animation-name: spaceInUp;
}

@keyframes spaceInUp {
    0% {
        opacity: 0;
        transform-origin: 50% 0%;
        transform: scale(0.2) translate(0%, -200%);
    }

    100% {
        opacity: 1;
        transform-origin: 50% 0%;
        transform: scale(1) translate(0%, 0%);
    }
}

.modal1 {
    position: absolute;
    top: 1;
    width: 350px;
    height: fit-content;
    background: #fffbfb;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px 30px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.068);
    z-index: 10;
    animation: spaceOutUp 0.5s ease-in-out forwards;
}

.modal1.show {
    animation: spaceInUp 0.5s ease-in-out forwards;
}

.modal1-content {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.modal1-heading {
    font-size: 18px;
    font-weight: 700;
    font-family: 'poppins';
    color: rgb(27, 27, 27);
}

.modal1-description {
    font-size: 14px;
    font-weight: 100;
    font-family: 'poppins';
    color: rgb(102, 102, 102);
}

.modal1-button-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.modal1-button {
    width: 50%;
    height: 35px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-weight: 600;
}

.primary {
    background-color: rgb(255, 114, 109);
    color: white;
}

.primary:hover {
    background-color: rgb(255, 73, 66);
}

.secondary {
    background-color: #ddd;
}

.secondary:hover {
    background-color: rgb(197, 197, 197);
}

.exit-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.exit-button:hover svg {
    fill: red;
}

.exit-button svg {
    fill: rgb(175, 175, 175);
}