.profile_container .img_container {
    height: 110px;
    width: 110px;
    border-radius: 50%;
    /* border: 1px solid black; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: absolute;
    top: 2vh;
    z-index: 5;
    margin-top: 15px;
}

/* .profile_container .img_container{
    height: 110px;
    width: 110px;
    border-radius: 50%;
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
    z-index: 5;
    margin-top: 15px;
} */
.act_img {
    height: 110px;
    width: 110px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
}

@media (max-width: 500px) {
    .img_container {
        height: 110px;
        width: 110px;

    }

    .act_img {
        height: 110px;
        width: 110px;
    }
}