/* @keyframes ezy-bounce {

    0%,
    20%,
    53%,
    100% {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transform: translate3d(0, 0, 0);
    }

    40%,
    43% {
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        transform: translate3d(0, -30px, 0) scaleY(1.1);
    }

    70% {
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        transform: translate3d(0, -15px, 0) scaleY(1.05);
    }

    80% {
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transform: translate3d(0, 0, 0) scaleY(0.95);
    }

    90% {
        transform: translate3d(0, -4px, 0) scaleY(1.02);
    }
} */
@keyframes ezy-bounce {

    0%,
    20%,
    53%,
    100% {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transform: translate3d(0, 0, 0);
    }

    40%,
    43% {
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        transform: translate3d(0, -3px, 0) scaleY(1.05);
        /* Reduced bounce */
    }

    70% {
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        transform: translate3d(0, -1.5px, 0) scaleY(1.03);
        /* Reduced bounce */
    }

    80% {
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transform: translate3d(0, 0, 0) scaleY(0.98);
        /* Reduced scale */
    }

    90% {
        transform: translate3d(0, -0.7px, 0) scaleY(1.01);
        /* Reduced bounce */
    }
}

.ezy-bounce {
    animation-duration: 1000ms;
    animation-name: ezy-bounce;
    transform-origin: center bottom;
}

.tabs_container {
    display: flex;
    margin-bottom: 0.3rem;
    /* justify-content: space-around; */
    /* Distribute tabs evenly */
}

/* 
.tabs_button-group {
    flex-grow: 1;
    margin: auto;
} */

.tabs_button-group input[type="radio"] {
    display: none;
}

.tabs_button-group label {
    display: inline-block !important;
    padding: 6px 20px !important;
    cursor: pointer !important;
    background-color: white !important;
    color: #02375a !important;
    border: 1px solid #2b426d !important;
    border-radius: 15px !important;
    transition: all ease 0.2s !important;
    text-align: center !important;
    flex-grow: 1 !important;
    flex-basis: 0 !important;
    min-width: 90px !important;
    font-size: 13px !important;
    margin: 3px 5px 5px 5px !important;
    box-shadow: 0px 0px 10px -10px #000000 !important;
    transform: initial;
}

.tabs_button-group input[type="radio"]:checked+label {
    border: 1px solid #17335d !important;
    background-color: #1f4379 !important;
    color: white !important;
    animation-duration: 1000ms !important;
    animation-name: ezy-bounce !important;
    transform-origin: center bottom !important;
}