.swashIn {
    animation-name: swashIn;
    animation-duration: 0.1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes swashIn {
    0% {
        opacity: 0;
        transform-origin: 50% 50%;
        transform: scale(0, 0);
    }

    95% {
        opacity: 1;
        transform-origin: 50% 50%;
        transform: scale(0.95, 0.95);
    }

    100% {
        opacity: 1;
        transform-origin: 50% 50%;
        transform: scale(1, 1);
    }
}

/* holeOut animation */
.holeOut {
    animation-name: holeOut;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes holeOut {
    0% {
        opacity: 1;
        transform-origin: 50% 50%;
        transform: scale(1, 1) rotateY(0deg);
    }

    100% {
        opacity: 0;
        transform-origin: 50% 50%;
        transform: scale(0, 0) rotateY(180deg);
    }
}

.user_card {
    width: 300px;
    height: 400px;
    background: #eaeff7;
    border-radius: 32px;
    padding: 3px;
    position: absolute;
    top: 10rem;
    box-shadow: #604b4a30 0px 70px 30px -50px;
    /* transition: all 0.5s ease-in-out; */
    animation-name: holeOut;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    z-index: 10;
}


.user_card .user_profile-pic {
    position: absolute;
    width: calc(100% - 6px);
    height: calc(100% - 60px);
    top: 3px;
    left: 3px;
    border-radius: 29px 29px 0 0;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: start;
    z-index: 1;
    border: 0px solid #0a1b36;
    overflow: hidden;
    transition: all 0.5s ease-in-out 0.2s, z-index 0.5s ease-in-out 0.2s;
}

.user_card .user_profile-pic img {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
    /* -o-object-position: 0px 0px;
    object-position: 0px 0px; */
    transition: all 0.5s ease-in-out 0s;
}

.user_card .user_profile-pic svg {
    width: 100%;
    height: 70%;
    fill: #b2bcca;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: 0px 0px;
    object-position: 0px 0px;
    transform-origin: 45% 20%;
    transition: all 0.5s ease-in-out 0s;
}

.user_card .user_bottom {
    position: absolute;
    bottom: 3px;
    left: 3px;
    right: 3px;
    background: #0a1b36;
    top: 80%;
    border-radius: 25px;
    z-index: 2;
    box-shadow: rgba(96, 75, 74, 0.1882352941) 0px 5px 5px 0px inset;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.user_card .user_bottom .user_content {
    position: absolute;
    bottom: 0;
    left: 1.5rem;
    right: 1.5rem;
    top: 23%;
    opacity: 0;
}

.user_card .user_bottom .user_content .user_name {
    display: block;
    font-size: 1.2rem;
    color: white;
    font-weight: bold;
}

.user_card .user_bottom .user_content .user_about-me {
    display: block;
    font-size: 0.9rem;
    color: white;
    margin-top: 1rem;
}

.user_card .user_bottom .user_bottom-bottom {
    position: absolute;
    bottom: 1.3rem;
    left: 1.5rem;
    right: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user_noselect {
    width: 120px;
    height: 35px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: white;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
}

.user_noselect,
.user_noselect span {
    transition: 200ms;
}

.user_text {
    width: 100%;
    text-align: center;
    color: red;
    font-weight: bold;
}

.user_view_text {
    width: 100%;
    text-align: center;
    color: #225cb8;
    font-weight: bold;
}

.user_noselect .user_icon {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    border-left: 1px solid #c41b1b;
    transform: translateX(120px);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user_noselect .user_view_icon {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    border-left: 1px solid #225cb8;
    transform: translateX(70px);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.user_noselect svg {
    width: 20px;
    fill: #eee;
}

.user_noselect:hover {
    background: #ff3636;
}

.view_user_card:hover {
    background: #225cb8 !important;
}

.user_noselect:hover .user_text {
    display: none;
    color: transparent;
}

.user_noselect:hover .user_view_text {
    display: none;
    color: transparent;
}

.user_noselect:hover .user_icon {
    opacity: 1;
    width: 120px;
    border-left: none;
    transform: translateX(0);
}

.user_noselect:hover .user_view_icon {
    opacity: 1;
    width: 120px;
    border-left: none;
    transform: translateX(0);
}

.user_noselect:focus {
    outline: none;
}

.user_noselect:active .user_icon svg {
    transform: scale(0.8);
}

.user_noselect:active .user_view_icon svg {
    transform: scale(0.8);
}

.user_card.show {
    border-top-left-radius: 55px;
    animation-name: swashIn;
    animation-duration: 0.6s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.user_card.animate .user_bottom {
    top: 20%;
    border-radius: 80px 29px 29px 29px;
    transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
}

.user_card.animate .user_content {
    transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
    opacity: 1;
}

.user_card.animate .user_profile-pic {
    width: 120px;
    height: 120px;
    aspect-ratio: 1;
    top: 10px;
    left: 10px;
    border-radius: 50%;
    z-index: 3;
    background: white;
    z-index: 10;
    border: 7px solid #25426c;
    box-shadow: rgba(96, 75, 74, 0.1882352941) 0px 5px 5px 0px;
    transition: all 0.5s ease-in-out, z-index 0.5s ease-in-out 0.1s;
}

.user_card:hover .user_profile-pic:hover {
    /* transform: scale(1.3); */
    /* border-radius: 0px; */
}

.user_card.show .user_profile-pic img {
    border-top-left-radius: 55px;
    transform: scale(1);
    /* -o-object-position: 0px 25px;
    object-position: 0px 25px; */
    transition: all 0.5s ease-in-out 0.5s;
}

.user_card.show .user_profile-pic svg {
    transform: scale(0.85);
    transition: all 0.5s ease-in-out 0.5s;
}